.extendedNav {
    background-color: #111;
    position: fixed;
    top: 0;
    color: #fff;
    height: 100vh;
    width: 100%;
    opacity: .8;
    display: flex;
    justify-content: center;
    animation-name: extend;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes extend {
    from {
        clip-path: circle(0% at 50% 50%);
    }
    to {
        clip-path: circle(100% at 50% 50%);
    }
}

.navLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
}

.navLinks a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Sansation Light';
    font-size: 3rem;
}

.navLinks a:hover {
    color: #7648ffc7;
}

.userIcon {
    width: 100px;
    height: 100%;
    margin: 10px;
}

.userIcon img{
    width: 120px;
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
    cursor: pointer;
}

.userIcon img:hover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(5734%) hue-rotate(243deg) brightness(99%) contrast(107%);
}
