.time {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.time input {
    width: 35vw;
    height: 4px;
    cursor: pointer;
}

.time span {
    font-size: 1rem;
    width: 20px;
}

