.button {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #323232;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    transition: border 150ms ease-out;
    font-size: 1rem;
}

.button:hover {
    border-color: #7648ffc7;
}

@media only screen and (max-width: 1024px) {
    .button {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .button {
        font-size: 4rem;
        width: 100%;
    }
}