

.addPlaylist {
    width: 100%;
    display: flex;
    flex-direction: column;
   
   }
   
   .check {
       display: flex;
       gap: 20px;
       align-items: center;
       background-color: #323232;
       margin: 20px;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .check img {
       width: 40px;
       filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
   }
   
   .check button {
       background-color: transparent;
       border: none;
       font-size: 1rem;
       color: #fff;
       cursor: pointer;
   }
   
   .notcheck {
       display: flex;
       gap: 20px;
       align-items: center;
       margin: 20px;
       border-radius: 4px;
       cursor: pointer;
   }
   
   .notcheck img {
       width: 40px;
       filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
   }
   
   .notcheck button {
       background-color: transparent;
       border: none;
       font-size: 1rem;
       color: #fff;
       cursor: pointer;
   }

   @media only screen and (max-width: 600px) {
    .notcheck button,
    .check button {
        font-size: 3.5rem;
    }
}