.searchbar {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
}

.searchbar input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #272727;
    border: 1px solid #fff;
    color: #eee;
    padding-left: 40px;
    
}

.searchbar input::placeholder {
    color: #777;
    font-size: 20px;
}

.searchIcon{
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
    position: absolute;
    left: 8px;
}


.searchItems {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    border-radius: 8px;
    outline: 2px solid #666;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.searchItems h2 {
    color: #fff;
    font-size: 1.5rem;
    margin: 10px;
}

.searchItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 5px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}
.searchItem:hover {
    background-color: #323232;
}
.searchItem img {
    border-radius: 4px;
    width: 100px;
    height: 60px;
    object-fit: contain;
}

.searchItem h2 {
    font-size: 1rem;
}

.search_clean {
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.search_clean:hover {
    color: #ccc;
}

.undef {
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
}

@media only screen and (max-width: 1024px) {
    .searchItems {
        width: 80vw;
        left: -20vw;
    }
    .searchItem h2 {
        font-size: 2rem;
    }
    .searchbar input {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .searchItems {
        width: 100vw;
        left: -34vw;
    }

    .searchItem h2 {
        font-size: 3rem;
    }
    .searchbar input {
        font-size: 2.5rem;
    }
}