.logo {
    width: 280px;
    height: 80px;
    color: #eee;
    font-family: 'Sansation Light';
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    transform: rotate(10deg);
}

.logo h1{
    font-size: 2rem;
}