.footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
}

.footer_links {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 40px;
}

.footer_links h2 {
    font-size: 25px;
    font-family: 'Sansation Light';
}

.footer_links span {
    font-size: 20px;
    font-family: 'Sansation Light';
    cursor: pointer;

}

.footer_links span:nth-child(4) {
    color: #7748FF;
}

.footer_links span:hover {
    color: #aaa;
}

.footer_links span:nth-child(4):hover {
    color: #7648ffc7;
}

.footer_img {
    width: 250px;
    height: 80px;
}

.footer_legal {
    position: absolute;
    color: #fff;
    font-family: 'Sansation Light';
    display: flex;
    left: 20px;
    bottom: 10px;
    gap: 30px;
    cursor: pointer;
}

.footer_legal span:hover {
    color: #aaa;
}