.login_form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    margin: 10px;
}

.login_template_form {
    display: flex;
    gap: 10px;
 }

@media only screen and (max-width: 800px) {
    .login_template_form {
        flex-direction: column;
    }
}