.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.playlist {
    width: 82%;
    height: 50px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    background-color: #323232;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.playlist h2 {
    font-size: 1rem;
    text-overflow: clip;
}

.playlist img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 1024px ) {
    .playlist {
        width: 100%;
        border-radius: 0;
    }
    .playlist h2 {
        font-size: 1rem;
        text-align: center;
        text-overflow: clip;
    }
    .playlist img {
        display: none;
    }
}

@media only screen and (max-width: 600px ) {
    .playlist h2 {
        font-size: 3rem;
    }
    .playlist {
        width: 82%;
        border-radius: 12px;
    }
}