.container {  
    display: grid; 
    grid-template-columns: 20% 40% 40%; 
    grid-template-rows: 80px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "nav nav nav"
    "sidebar main main"; 
  }
  
.nav { 
    grid-area: nav; 
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #fff;
}
  
.sidebar {
    grid-area: sidebar; 
    background-color: #000;
    min-height: 100vh - 80px;
    height: calc(100% + 15vh);
    border-right: 2px solid #fff;
}
  
.main { 
    grid-area: main;
    background-color: #000;
    min-height: 100vh;
    height: calc(100% + 15vh);
    overflow-y: scroll;
}

@media only screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 75px 1fr 1fr
    }
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid; 
        grid-template-columns: 50% 50%; 
        grid-template-rows: 80px 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "nav nav"
        "main main"; 
    }
}