.dropzoneContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    margin-top: 50px;
}

.dropzone {
    width: 80%;
    min-height: 500px;
    height: 100%;
    background-color: #323232;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropzone_drop {
    border: 2px solid #fff;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border 200ms ease-in-out;
}

.dropzone_drop_img {
    filter: brightness(0) saturate(100%) invert(88%) sepia(1%) saturate(0%) hue-rotate(23deg) brightness(94%) contrast(90%);
    width: 30%;
    animation-name: rotateBack;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.dropzone_drop p {
    color: #fff;
    font-size: 1.2rem;
}

.dropzone_drop:hover {
    border-color: #7648ffc7
}


.dropzone_drop_i {
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
    animation-name: rotate;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes rotateBack {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.dropsong {
    margin-top: 20px;
    color: #fff;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 14px;
    gap: 50px;
    background-color: #323232;
}

.dropsong img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
    width: 100px;
}

.dropsong h2 {
    font-size: 1.2rem;
}

.dropsong_button {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #7648ffc7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.dropsong_button:hover {
    background-color: #7648ffaa;
}

.dropsong_button_disabled {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #7648ff99;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}