.container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.cardMusic {
    display: flex;
    color: #fff;
    width: 80%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    transition: background-color 150ms ease-in-out;
}

.card_tittle {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 33%;
}

.card_tittle img {
    width: 100px;
    border-radius: 6px;
}

.card_tittle h2{
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cardMusic:hover {
    background-color: #272727;
}

.cardMusic_responsive {
    width: 30vw;
    
}

.cardMusic_responsive h2 {
    font-size: 1rem;
}

.cardMusic_responsive h3 {
    font-size: .8rem;
    color: #ccc;
}

.undef {
    width: 145px;
    margin-left: 20px;
    height: 100%;
}

.undef img{
    width: 50px;
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(106%) contrast(100%);
}

.cardMusic_prop {
    display: flex;
    align-items: center;
}

.cardMusic_prop {
    background-color: transparent;
    border: none;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 2.2rem;
    margin-right: 10px;
    cursor: pointer;
    z-index: 500;
}

@media only screen and (max-width: 600px) {
    .cardMusic {
        width: 100%;
    }
}