.about {
    background-color: #323232;
    background-size: cover;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 50px;
}

.about_tittle {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 600px;
    gap: 80px;
}

.about_tittle h2 {
    font-size: 35px;
    color: #bbb;
    font-family: 'Sansation Light';
}
.about_tittle h2 span {
    color: #7748FF;
}

.about_tittle_p {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about_tittle_p p {
    font-size: 20px;
    color: #aaa;
    font-family: 'Sansation Light';
}

.about_tittle_p a {
    display: flex;
    text-decoration: none;
    background-color: #7748FF;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-family: 'Sansation Light';
    color: #eee;
    border-radius: 14px;
}

.about_tittle_p a span {
    font-size: 25px;
}

.about_tittle_p a:hover {
    color: #aaa;
}