.startSection {
    background-image: url('../../../../assets/bg/prefooter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.startSection h2 {
    font-size: 3rem;
    font-family: 'Sansation Light';
    text-align: center;
    color: #fff;
}

