.frame {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15vh;
    color: #fff;
}

.frame_container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.frame_iframe {
    width: 350px;
    height: 250px;
    border: none;
    outline: 1px solid #777;
}

.frame_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
    min-width: 300px;
    width: 100%;
    max-width: 400px;
}

.frame_data h2 {
    font-size: 1rem;
}

.videoData_buttons {
    display: flex;
    gap: 20px;
}

.videoData_buttons button:first-child {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #323232;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.videoData_buttons button:first-child:hover {
    background-color: #272727;
}

.videoData_buttons button:nth-child(2) {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #7648ffc7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.videoData_buttons button:nth-child(2):hover {
    background-color: #7648ffaa;
}

.videoData_buttons button:nth-child(2):disabled {
    background-color: #7648ff99;
}

@media only screen and (max-width: 1024px) {
    .frame_data h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    .frame_data p {
        font-size: 2rem;
        text-align: center;
    }
    .videoData_buttons button:first-child,
    .videoData_buttons button:nth-child(2) {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .frame_data h2 {
        font-size: 4rem;
        text-align: center;
    }
    .frame_data p {
        font-size: 3rem;
        text-align: center;
    }
    .videoData_buttons button:first-child,
    .videoData_buttons button:nth-child(2) {
        font-size: 3rem;
    }
}