.info {
    width: 100%;
    height: 100%;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info h1 {
    font-size: 40px;
    font-family: 'Sansation Light';
    color: #fff;
    margin-top: 50px;
}

.info_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}
