@font-face {
    font-family: 'Sansation Light';
    src: url('../public/Sansation_Light.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Sansation Light';
    font-size: 1.2vw;
  }

  
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7648ffc7;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333 ;
  }

  @media only screen and (min-width: 1500px) {
    * {
      font-size: 1rem
    }
  }

@media only screen and (max-width: 600px) {
 * {
    font-size: 1.5rem
  }
  }

@media only screen and (max-width: 800px) {
  * {
    font-size: 1rem
  }
}